In [4]:
import pandas as pd
import numpy as np

In [19]:
dates = pd.date_range('1/1/2000', periods=8)

In [20]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df = pd.DataFrame(np.random.randint(1,10,size = (8, 4)), index=dates, columns=['A', 'B', 'C', 'D'])
df

            A  B  C  D
2000-01-01  2  3  1  6
2000-01-02  3  6  5  7
2000-01-03  6  6  5  8
2000-01-04  3  4  8  6
2000-01-05  3  8  5  1
2000-01-06  4  9  4  5
2000-01-07  6  4  3  4
2000-01-08  1  1  7  2

In [42]:
a = df.A > 3
a

2000-01-01    False
2000-01-02    False
2000-01-03     True
2000-01-04    False
2000-01-05    False
2000-01-06     True
2000-01-07     True
2000-01-08    False
Freq: D, Name: A, dtype: bool

In [43]:
df.loc[a,'A']

2000-01-03    6
2000-01-06    4
2000-01-07    6
Name: A, dtype: int32

In [44]:
df.loc[~a,'A']

2000-01-01    2
2000-01-02    3
2000-01-04    3
2000-01-05    3
2000-01-08    1
Name: A, dtype: int32