In [4]:
import pandas as pd

customer_path = 'dataset/customer.csv'
sales_path = 'dataset/sales.csv'
goods_path = 'dataset/goods.csv'
category_path = 'dataset/x_tree.csv'
publisher_path = 'dataset/x_tag.csv'

customer_df = pd.read_csv(customer_path)
sales_df = pd.read_csv(sales_path)
goods_df = pd.read_csv(goods_path)
category_df = pd.read_csv(category_path)
publisher_df = pd.read_csv(publisher_path)

sales_df.head()

   invoice_id        register_date  member_id  province_id  city_id  good_id
0           2  2014-05-11 08:31:37          5          4.0     72.0    15347
1           5  2014-05-12 15:16:06          8          8.0    110.0     2833
2           5  2014-05-12 15:16:06          8          8.0    110.0     8714
3           7  2014-05-12 22:23:19          9         27.0    337.0    15672
4          11  2014-05-16 11:55:43         12          8.0    121.0    15001

In [8]:
factorize_member_id = pd.factorize(sales_df.member_id)[0]
sales_df['factorize_member_id'] = factorize_member_id

factorize_good_id = pd.factorize(sales_df.good_id)[0]
sales_df['factorize_good_id'] = factorize_good_id

sales_df.head()

,invoice_id,register_date,member_id,province_id,city_id,good_id,factorize_member_id,factorize_good_id
0,2,2014-05-11 08:31:37,5,4.0,72.0,15347,0,0
1,5,2014-05-12 15:16:06,8,8.0,110.0,2833,1,1
2,5,2014-05-12 15:16:06,8,8.0,110.0,8714,1,2
3,7,2014-05-12 22:23:19,9,27.0,337.0,15672,2,3
4,11,2014-05-16 11:55:43,12,8.0,121.0,15001,3,4

In [12]:
unique_data_df = sales_df.drop_duplicates()

(4200688, 4200704)

In [17]:
factorizeMemberId2MemberId = dict(zip(sales_df.factorize_member_id, sales_df.member_id))
memberId2FactorizeMemberId = dict(zip(sales_df.member_id, sales_df.factorize_member_id))

factorizeGoodsId2GoodsId = dict(zip(sales_df.factorize_good_id, sales_df.good_id))
goodsId2FactorizeGoodsId = dict(zip(sales_df.good_id, factorize_good_id))

In [20]:
adjacency = unique_data_df[['factorize_member_id', 'factorize_good_id']]
adjacency.head(10)

   factorize_member_id  factorize_good_id
0                    0                  0
1                    1                  1
2                    1                  2
3                    2                  3
4                    3                  4
5                    3                  5
6                    3                  6
7                    3                  7
8                    4                  8
9                    4                  9