In [1]:
import pandas as pd

customer_path = 'dataset/customer.csv'
sales_path = 'dataset/sales.csv'
goods_path = 'dataset/goods.csv'
category_path = 'dataset/x_tree.csv'
publisher_path = 'dataset/x_tag.csv'

customer_df = pd.read_csv(customer_path)
sales_df = pd.read_csv(sales_path)
goods_df = pd.read_csv(goods_path)
category_df = pd.read_csv(category_path)
publisher_df = pd.read_csv(publisher_path)

In [2]:
goods_df.head()

,good_id,brand,author,translator,catgory,tag
0,162,96,115,NaN,153,1|1884|1965|3728|48864
1,163,96,115,NaN,66,1|434|438|441|454|518|552|727|1355|1480|1884|1...
2,165,96,1724,NaN,139|141,1|1884|1965|3728|48864
3,166,96,2043,NaN,118,1|1884|1965|3728|48864
4,167,96,1829,NaN,139|140,1|1884|1965|3728|48864

In [4]:
goods_df['f_good_id'] = pd.factorize(goods_df.good_id)[0]
goods_df

,good_id,brand,author,translator,catgory,tag,f_good_id
0,162,96,115,NaN,153,1|1884|1965|3728|48864,0
1,163,96,115,NaN,66,1|434|438|441|454|518|552|727|1355|1480|1884|1...,1
2,165,96,1724,NaN,139|141,1|1884|1965|3728|48864,2
3,166,96,2043,NaN,118,1|1884|1965|3728|48864,3
4,167,96,1829,NaN,139|140,1|1884|1965|3728|48864,4
...,...,...,...,...,...,...,...
57088,105771,6775,103,NaN,29,1|1873|1878|1884|1965|1971|3728|46168|48864|64050,57088
57089,105772,6775,103,NaN,29,1|1873|1876|1878|1884|1965|1971|1984|3728|4616...,57089
57090,105773,6775,103,NaN,29,1|1873|1876|1878|1884|1965|1971|1984|3728|4616...,57090
57091,105774,6775,103,NaN,29,1|1873|1876|1878|1884|1965|1971|1984|3728|4616...,57091
57092,105775,6775,103,NaN,29,1|1873|1876|1878|1884|1965|1971|1984|3728|4616...,57092

In [7]:
category = goods_df.catgory.str.split('|').apply(lambda x: list(map(int, x)) if isinstance(x, list) else []).tolist()

from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
category_encoded = pd.DataFrame(mlb.fit_transform(category), columns=mlb.classes_, index = goods_df.index)

In [9]:
category_encoded = pd.concat([goods_df.f_good_id, category_encoded], axis=1)

In [10]:
category_encoded

,f_good_id,29,31,32,35,37,38,40,41,42,...,170,171,173,178,189,190,191,192,193,197
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57088,57088,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57089,57089,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57090,57090,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57091,57091,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57092,57092,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
aaaa = sales_df.merge(goods_df.good_id, on='good_id', how='left')
aaaa

,invoice_id,register_date,member_id,province_id,city_id,good_id
0,2,2014-05-11 08:31:37,5,4.0,72.0,15347
1,5,2014-05-12 15:16:06,8,8.0,110.0,2833
2,5,2014-05-12 15:16:06,8,8.0,110.0,8714
3,7,2014-05-12 22:23:19,9,27.0,337.0,15672
4,11,2014-05-16 11:55:43,12,8.0,121.0,15001
...,...,...,...,...,...,...
525083,263306,2023-06-14 17:06:29,205809,4.0,977.0,35191
525084,263306,2023-06-14 17:06:29,205809,4.0,977.0,37009
525085,263306,2023-06-14 17:06:29,205809,4.0,977.0,77359
525086,263307,2023-06-14 17:21:18,183076,10.0,134.0,26552
525087,263308,2023-06-14 17:51:36,205815,17.0,221.0,88648