In [1]:
from torch_geometric.data import download_url, extract_zip
import pandas as pd

dataset_name = 'ml-latest-small'

url = f'https://files.grouplens.org/datasets/movielens/{dataset_name}.zip'
extract_zip(download_url(url, '.'), '.')

movies_path = f'./{dataset_name}/movies.csv'
ratings_path = f'./{dataset_name}/ratings.csv'

Using existing file ml-latest-small.zip
Extracting .\ml-latest-small.zip

In [2]:
rating_df = pd.read_csv(ratings_path)
movies_df = pd.read_csv(movies_path)

In [3]:
userId = 'userId'
mappedUserId = 'mappedUserId'
movieId = 'movieId'
mappedMovieId = 'mappedMovieId'
user= 'user'
movie = 'movie'
rates = 'rates'
rev_rates = 'rev_rates'

In [4]:
unique_user_id = rating_df[userId].unique()
unique_user_id = pd.DataFrame(data= {
    userId :unique_user_id,
    mappedUserId : pd.RangeIndex(len(unique_user_id)) 
})

In [5]:
unique_movie_id = movies_df[movieId].unique()
unique_movie_id = pd.DataFrame(data={
    movieId : unique_movie_id,
    mappedMovieId : pd.RangeIndex(len(unique_movie_id))
})

In [6]:
rating_df = rating_df.merge(unique_user_id, on=userId)
rating_df = rating_df.merge(unique_movie_id, on=movieId)
rating_df

        userId  movieId  rating   timestamp  mappedUserId  mappedMovieId
0            1        1     4.0   964982703             0              0
1            5        1     4.0   847434962             4              0
2            7        1     4.5  1106635946             6              0
3           15        1     2.5  1510577970            14              0
4           17        1     4.5  1305696483            16              0
...        ...      ...     ...         ...           ...            ...
100831     610   160341     2.5  1479545749           609           9325
100832     610   160527     4.5  1479544998           609           9330
100833     610   160836     3.0  1493844794           609           9342
100834     610   163937     3.5  1493848789           609           9389
100835     610   163981     3.5  1493850155           609           9390

[100836 rows x 6 columns]

In [7]:
import torch

In [8]:
edge_index = torch.stack([
    torch.tensor(rating_df[mappedUserId].values),
    torch.tensor(rating_df[mappedMovieId].values)
])
edge_index

tensor([[   0,    4,    6,  ...,  609,  609,  609],
        [   0,    0,    0,  ..., 9342, 9389, 9390]])

In [9]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [10]:
genres = movies_df['genres'].str.get_dummies('|').values
genres = torch.from_numpy(genres).to(torch.float)
genres

tensor([[0., 0., 1.,  ..., 0., 0., 0.],
        [0., 0., 1.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 1., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [11]:
from sentence_transformers import SentenceTransformer

In [12]:
model = SentenceTransformer('all-MiniLM-L6-v2')
with torch.no_grad():
    titles = model.encode(movies_df['title'].tolist(), convert_to_tensor=True, show_progress_bar=True)
    titles = titles.cpu()

Batches:   0%|          | 0/305 [00:00<?, ?it/s]

In [13]:
titles

tensor([[-0.0828,  0.0530,  0.0536,  ...,  0.0226,  0.0538,  0.1030],
        [-0.1053,  0.1508, -0.0264,  ...,  0.0106, -0.0726,  0.0086],
        [-0.0988,  0.0176, -0.0527,  ..., -0.0120,  0.0303,  0.0004],
        ...,
        [-0.1115,  0.0310, -0.0177,  ...,  0.0147,  0.0299,  0.0200],
        [ 0.0366,  0.0137,  0.0315,  ..., -0.0516, -0.0143,  0.1012],
        [-0.0500, -0.0141, -0.0031,  ...,  0.0320,  0.0546, -0.0271]])

In [14]:
movie_features = torch.cat([genres, titles], dim = -1)
movie_features.size()

torch.Size([9742, 404])

In [15]:
user_feature = torch.eye(len(unique_user_id))
user_feature.size()

torch.Size([610, 610])

In [16]:
import torch_geometric.transforms as T
from torch_geometric.data import HeteroData

In [17]:
data = HeteroData()

In [18]:
torch.arange(len(unique_user_id))

tensor([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
         42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
         56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
         70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
         84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
         98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
        112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
        126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
        140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
        154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
        168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
        210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
        224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
        266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279,
        280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293,
        294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307,
        308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321,
        322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335,
        336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
        350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
        364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
        378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
        392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405,
        406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419,
        420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
        434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447,
        448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461,
        462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475,
        476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489,
        490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503,
        504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517,
        518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
        532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
        546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
        560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573,
        574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587,
        588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601,
        602, 603, 604, 605, 606, 607, 608, 609])

In [19]:
torch.arange(len(movies_df))

tensor([   0,    1,    2,  ..., 9739, 9740, 9741])

In [28]:
data[user].node_id = torch.arange(len(unique_user_id))
data[movie].node_id = torch.arange(len(movies_df))
data[user].x = user_feature
data[movie].x = movie_features
data[user,rates,movie].edge_index = edge_index
data[user,rates,movie].edge_lable = torch.from_numpy(rating_df['rating'].values).to(torch.float)
data = T.ToUndirected()(data)

In [30]:
data[movie, rev_rates, user]

{'edge_index': tensor([[   0,    0,    0,  ..., 9342, 9389, 9390],
        [   0,    4,    6,  ...,  609,  609,  609]]), 'edge_lable': tensor([4.0000, 4.0000, 4.5000,  ..., 3.0000, 3.5000, 3.5000])}

In [31]:
data

HeteroData(
  user={ x=[610, 610] },
  movie={ x=[9742, 404] },
  (user, rates, movie)={
    edge_index=[2, 100836],
    edge_lable=[100836],
  },
  (movie, rev_rates, user)={
    edge_index=[2, 100836],
    edge_lable=[100836],
  }
)

In [33]:
train_data, val_data, test_data = T.RandomLinkSplit(
    num_val=0.1,
    num_test=0.1,
    neg_sampling_ratio=0.0,
    edge_types=[(user, rates, movie)],
    rev_edge_types= [(movie, rev_rates, user)]
)(data)

train_data, val_data

(HeteroData(
   user={ x=[610, 610] },
   movie={ x=[9742, 404] },
   (user, rates, movie)={
     edge_index=[2, 80670],
     edge_lable=[80670],
     edge_label=[80670],
     edge_label_index=[2, 80670],
   },
   (movie, rev_rates, user)={
     edge_index=[2, 80670],
     edge_lable=[80670],
   }
 ),
 HeteroData(
   user={ x=[610, 610] },
   movie={ x=[9742, 404] },
   (user, rates, movie)={
     edge_index=[2, 80670],
     edge_lable=[80670],
     edge_label=[10083],
     edge_label_index=[2, 10083],
   },
   (movie, rev_rates, user)={
     edge_index=[2, 80670],
     edge_lable=[80670],
   }
 ))