In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('abca'))

In [3]:
s

0    a
1    b
2    c
3    a
dtype: object

In [4]:
pd.get_dummies(s)

       a      b      c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False